<%- include('./components/header.ejs') %>

    <%- include('./components/section_header.ejs') %>
    <%- include('./components/section_tabs.ejs') %>
    
    <p>Welcome to <%= title %></p>

<%- include('./components/footer.ejs') %>
